@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

html,
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    background-color: #AAAAAA;
    font-family: 'Instrument Serif', serif;
    letter-spacing: 2px;
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
}

#central {
    height: 100%;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

#contenedor-input {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4%;
}

#txt {
    padding: 4%;
    background-color: #AAAAAA;
    border: none;
    resize: none;
    border-radius: 20px;
    width: 90%;
    font-size: 1.5em;
    font-family: 'Instrument Serif', serif;
    color: #ffffff;
    letter-spacing: 2px;
}

#txt::placeholder {
    color: #ffffff;
}

#contenedor-botones-inferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.botones {
    margin: auto;
    height: 40%;
    width: 90%;
    color: rgb(0, 0, 0);
    background-color: rgb(166, 215, 204);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #ffffff;
    font-family: 'Instrument Serif', serif;
    letter-spacing: 3px;
    font-size: 1.2em;
    box-shadow: 8px 8px 15px rgb(73, 72, 72);
    text-shadow: 2px 2px 2px white;
    transition: 200ms;
}

.botones:hover {
    transform: scale(1.03);
    box-shadow: 8px 8px 20px rgb(0, 0, 0);

}

.icons {
    width: 20px;
    height: 20px;
}

#boton1 {
    background-color: rgb(98, 211, 166);

}

#lateral {
    height: 90%;
    display: grid;
    grid-template-rows: 6fr 1fr;
    padding: 5%;
    background-color: rgb(166, 215, 204);
    border-radius: 10px;
}

#contenedor-span {
    overflow: auto;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    max-height: 26em;
    font-size: 1.2em;
}

span>img {
    max-height: 65%;
    padding: auto;
    margin: auto;
    max-width: 420px;
}

#result p {
    font-size: 0.8em;
}


#contenedor-boton-lateral {
    display: grid;
    grid-template-columns: 1fr;
}

#boton2 {
    background-color: rgb(105, 106, 112);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    width: 60%;
    height: 50%;
}

@media (max-width: 470px) {

    #container {
        grid-template-columns: 1fr;
    }

    #central {
        height: 60%;
        grid-template-rows: 3fr 1fr;
    }

    #contenedor-botones-inferior {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.8em;
    }

    .botones {
        margin: auto;
        min-height: 3em;
        width: 100%;
        letter-spacing: 3px;
        font-size: 1.2em;
    }
}

@media (min-width:470px) and (max-width: 915px) {

    #container {
        grid-template-columns: 1fr;
        align-items: center;
    }

    #lateral {
        width: 90%;
        margin: auto;
    }

    #contenedor-botones-inferior {
        width: 100%;
        gap: 0.8em;
    }

    .botones {
        width: 100%;
        min-height: 3em;
    }
}